@import "../../../../../assets/styles/mixin";
/* @import '../../../../../assets/styles/variables'; */

.window { 
    &__row {
        //max-width: 90%;
        &-text {
            margin-bottom: 0;
            &.sender {
                background-color: rgb(131, 188, 131);
            }            
            &.recipient {
                background-color: #f0f2f5;
            }
            padding: 0.3125rem 0.625rem;        
            margin-bottom: 0px;
            width: 100%;
            border-radius: 6px;
            @include font-style(0.8rem, #212121);
            text-align: left;
        }
        time {
            display: block;
        }
    }   
}