<div *ngIf="chat.open == true && chat.collapsed == false">
  <div class="window" id="window-{{chat.created_by.id}}{{chat.recipient.id}}">    
    <div class="window__container">
      <div class="window__receiver">
        <div class="d-flex justify-content-between">
          <div class="flex-fill">
            <button (click)="collapseWindow()" class="btn--reset text-left d-full p-2 ps-3">
              <i class="fa fa-comments" aria-hidden="true"></i>
              <span class="window__receiver-name text-capitalize ps-2">
                <ng-container *ngIf="chat.created_by.id == loggedAccount.id; else recived">
                  {{chat.recipient.firstname}} {{chat.recipient.lastname}}
                </ng-container>
                <ng-template #recived>
                  {{chat.created_by.firstname}} {{chat.created_by.lastname}}
                </ng-template>
              </span>
            </button>
          </div>
          <div class="d-flex flex-fill justify-content-end">
            <button title="Riduci la tab a icona" (click)="collapseWindow()" class="btn--reset p-2 ps-3 text--cold-grey">              
              <i class="fa fa-minus" aria-hidden="true"></i>
            </button>
            <button title="Chiudi la tab" (click)="closeWindow()" class="btn--reset p-2 pe-3 text--cold-grey">              
              <i class="fa fa-close" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
      <div [ngClass]="chat.collapsed ? 'd-none' : 'd-block'" class="window_body">
        <div class="text-center p-2 text--main_color" *ngIf="chat.messages">
          <button class="btn--reset text--main_color" (click)="getChatMessages()" *ngIf="allMessagesLoaded == false; else allLoaded">
            <u>Carica messaggi più vecchi</u>
          </button>
          <ng-template #allLoaded>
            <u>Tutti i messaggi sono stati caricati</u>
          </ng-template>
        </div>
        <div class="window__messages-area d-flex flex-column" (scroll)="scrolled($event)" #scrollframe>
          <ng-container *ngIf="loading">
            <iladiro-spinner></iladiro-spinner>
          </ng-container>
          <iladiro-window-row #item *ngFor="let message of chat.messages" [loggedAccountId]="loggedAccount.id" [message]="message"></iladiro-window-row>
        </div>
        <div class="window__writing-area">
          <form [formGroup]="form" class="login-form">
            <input
                type="text"
                id="text"
                formControlName="text"
                placeholder="Enter message"
                (keyup.enter)="triggerFunction(form)"
              />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>